html, body {
    /* Mes couleurs */
    --colorSidenav: #171b1f;
    --colorPoliceBlanche: #ffff;
    --colorActive: #48a8af;
    
    --colorHover: #171b1f;
    --colorNotif: #f3a273;
    --colorNotifImg: #e66131;
}
    main {
        /* Décalage de 300px pour la sidebar */
        padding-left: 300px;
    }

    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        /* Navbar contient le burger mais est invisible */
        height: 0;
    }
    .sidenav {
        background: var(--colorSidenav);
    }
        .sidenav img {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 170px;
        }
        .sidenav li a {
            color: var(--colorPoliceBlanche);
        }
        .sidenav li a:hover {
            background: var(--colorHover);
        }
        .sidenav li a.active {
            background: var(--colorActive);
        }
        .sidenav-trigger {
            color: var(--colorPoliceBlanche);
            text-shadow: grey 0px 2px 3px;
        }
    
    header h1 {
        color: var(--colorPoliceBlanche) !important;
        text-shadow: grey 0px 0px 4px;
    }
    header h2 {
        color: var(--colorPoliceBlanche);
        text-shadow: grey 0px 0px 4px;
    }

    .titre {
        background: var(--colorActive);
        padding: 5px;
    }

    p i {
        font-size: 30px;
    }

    .parallax-container {
        min-height: 300px;
        line-height: 0;
        height: auto;
        color: rgba(255,255,255,.9);
    }
        .parallax-container .section {
            width: 100%;
        }
    
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }

    .carousel .indicators .indicator-item {
        margin: 24px 8px;
        height: 15px;
        width: 15px;
        box-shadow: 0px 3px 6px rgb(26, 26, 26);
    }









    /* Template parallax =========================================================================================== */
    p {
        line-height: 2rem;
    }
    
    @media only screen and (max-width : 992px) {
        .parallax-container .section {
        position: absolute;
        top: 40%;
        }
        #index-banner .section {
        top: 10%;
        }
    }
    
    @media only screen and (max-width : 600px) {
        #index-banner .section {
        top: 0;
        }
    }
    
    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
    
    footer.page-footer {
        margin: 0;
    }
  





    /* Timeline ========================================================================================== */
    #parcours .card-reveal {
        background: var(--colorSidenav);
        
    }
    .timeline {
        position: relative;
    }
    .timeline .timeline-event {
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .timeline .timeline-event .timeline-content {
        position: relative;
        width: calc(50% - 50px);
    }
    .timeline .timeline-event::before {
        display: block;
        content: "";
        width: 2px;
        height: calc(50% - 30px);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: 0;
    }
    .timeline .timeline-event::after {
        display: block;
        content: "";
        width: 2px;
        height: calc(50% - 30px);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: calc(50% + 30px);
    }
    .timeline .timeline-event:first-child::before {
        display: none;
    }
    .timeline .timeline-event:last-child::after {
        display: none;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: calc(50% + 50px);
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 0;
    }
    .timeline .timeline-badge {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #d2d2d2;
        top: calc(50% - 20px);
        right: calc(50% - 20px);
        border-radius: 50%;
        text-align: center;
        cursor: default;
    }
    .timeline .timeline-badge i {
        font-size: 25px;
        line-height: 40px;
    }
    @media (max-width: 600px) {
        .timeline .timeline-event .timeline-content {
        width: calc(100% - 70px);
        }
        .timeline .timeline-event::before {
        left: 19px;
        }
        .timeline .timeline-event::after {
        left: 19px;
        }
        .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: 70px;
        }
        .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 70px;
        }
        .timeline .timeline-badge {
        left: 0;
        }
    }

    /* Page loading ============================================================================================ */
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: var(--colorSidenav);

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

        z-index: 1001;
    }
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: var(--colorActive);

            -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: var(--colorNotif);

            -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        @-webkit-keyframes spin {
            0%   { 
                -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);  /* IE 9 */
                transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);  /* IE 9 */
                transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
            }
        }
        @keyframes spin {
            0%   { 
                -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);  /* IE 9 */
                transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);  /* IE 9 */
                transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
            }
        }
        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 100%;
            background: #ffffff;
            z-index: 1000;  
            -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(0);  /* IE 9 */
            transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
        }
        #loader-wrapper .loader-section.section-left {
            left: 0;
        }
        #loader-wrapper .loader-section.section-right {
            right: 0;
        }
        /* Loaded ouverture en porte
        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateX(-100%);  
                -ms-transform: translateX(-100%);  
                    transform: translateX(-100%);

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        .loaded #loader-wrapper .loader-section.section-right {
            -webkit-transform: translateX(100%);  
            -ms-transform: translateX(100%);  
            transform: translateX(100%);  

            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
        
        .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.5s ease-out;  
                    transition: all 0.5s ease-out;
        }
        */
        .loaded #loader-wrapper {
            visibility: hidden;
            /* Ouverture coulissante vers le haut */  
                    opacity: 0; 

            -webkit-transition: all 0.3s 0.8s ease-out;  
                    transition: all 0.3s 0.8s ease-out;      
        }
        /* JavaScript Turned Off */
        .no-js #loader-wrapper {
            display: none;
        }
        .no-js h1 {
            color: white;
        }